* {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

main {
	padding: 2rem 3rem;
}

.top-section {
	margin-bottom: 2rem;
}

.delete-all-btn {
	padding: 0.5rem;
	cursor: pointer;
	border: 1px solid #607d8b;
	background: none;
}

.delete-all-btn i {
	margin-left: 0.5rem;
}

.lanes {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

.lane {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	box-sizing: border-box;
	padding: 1rem;
	border-radius: 0.5rem;
}

.lane:nth-child(1) {
	background: #cec6d9;
}

.lane:nth-child(2) {
	background: #c7dbe7;
}

.lane:nth-child(3) {
	background: #cfe3ca;
}

.lane p {
	font-weight: 600;
	margin-bottom: 1rem;
}

.lane .list {
	min-height: 2rem;
	margin-bottom: 1rem;
}

.list li {
	display: flex;
	align-items: start;
	justify-content: space-between;
	margin: 0.5rem 0;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background: #ffffffa8;
	gap: 1rem;
}

.list li.dragging {
	opacity: 0.4;
}

.list li div {
	display: flex;
	align-items: center;
}

.list li span {
	padding: 0 4px;
}

.list li i {
	font-size: 0.8rem;
	padding: 0 2px;
	cursor: pointer;
}

.list li i.fa-xmark {
	font-size: 1rem;
}

.lane .add-btn, .lane .save-btn {
	padding: 0.5rem;
	cursor: pointer;
	border: 1px solid white;
	background: none;
}

/* SweetAlert */
.swal2-title-custom {
	font-size: 1.2rem !important;
	font-weight: 500 !important;
}

.swal2-styled {
	width: 80px;
	margin: .3125rem 0.5rem !important;
	padding: 0.5rem !important;
	border-radius: 0 !important;
}

.hidden {
	display: none;
}